{% extends "base.html" %}
{% block title %} Post Page {% endblock %}

{% block contents %}

{% for message in get_flashed_messages() %}

<div class="flash-message">
    {{message}}
</div>

{% endfor %}

<form class="post-form" action="{{ url_for('post') }}" method="POST">

    <label> Title </label>
    <input type="text" name="title" required>

    <label>Body</label>
    <textarea name="body" rows="7" cols="50" required>
    </textarea>

    <div class="btn-post">
        <input class="btn1-post" type="submit">
    </div>
</form>

{%endblock%}



