{% extends "base.html" %}
{% block titel %} View Page {% endblock %}

{% block contents %}

{% for message in get_flashed_messages() %}

<div class="flash-message">
    {{message}}
</div>

{% endfor %}

{% for post in posts %}

    <div class="post">
        <h3>{{post.title}}</h3><br>
        <p>{{post.body}}</p><br>
        <p>posted: {{post.date_posted.date()}}</p>
        <a href="{{ url_for('delete_post', post_id=post.id) }}">delete</a>
        <a href="{{ url_for('update_post_page', post_id=post.id) }}">Edit</a>
    </div>

{% endfor %}


{% endblock %}